*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patua One' sans-serif;
    font-weight: 500;
}

:root{
    --main-color: #780116;
    --second-color: #FFBF00;
    --third-color: #BFBABA;
    --fourth-color: #011627;
    --fifth-color: #D16014;
    --sixth-color: #F6F8FF;
}
body{
    max-height:100vh;
    overflow-x: hidden;
}
.container{
    position: relative;
    width: 100%;
    background-color: #F6F8FF;
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--main-color);
    border-left: 10px solid var(--main-color);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 80px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover, .navigation ul li.hovered{
    background: var(--second-color);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--sixth-color);
}
.navigation ul li:hover a, .navigation ul li.hovered a{
    color: var(--fourth-color);
}
.navigation ul li a .icon{
   position: relative;
   display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon img{
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before, .navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top:-50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--second-color);
    pointer-events: none;
    transition: 0.5s;
}
.navigation ul li:hover a::after, .navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom:-50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--second-color);
    pointer-events: none;
    transition: 0.5s;
}

.main{
    position: absolute;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
    min-height: 100vh;
    background: var(--sixth-color);
    
    transition: 0.5s;
}
.main.active{
    left: 80px;
    width: calc(100% - 80px);
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #F6F8FF;
    margin-bottom: 5%;
}
.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    width: 100%;
    height: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    border: 1px solid var(--second-color);
    border-radius: 40px;
    outline: none;
}
.search label ion-icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user{
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user ion-icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: var(--fourth-color);
}
.user:hover ion-icon{
    color: var(--main-color);
}


.details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
}
.details .recentExpense{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--sixth-color);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 700;
    color: var(--main-color);
}
 
.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--main-color);
    text-decoration: none;
    color: var(--sixth-color);
    border-radius: 6px;
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight: 600;
}
.details .recentExpense table tr{
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}
.details .recentExpense table tr:last-child{
    border-bottom: none;
}
.details .recentExpense table tbody tr:hover{
    background: var(--second-color);
    color: var(--fourth-color);
}

.details .recentExpense table tr td{
    text-align: start;
    padding: 10px;
}
.details .recentExpense table tr td:nth-child(2){
    text-align: end;
}
.details .recentExpense table tr td:nth-child(3), .details .recentExpense table tr td:last-child{
    text-align: center;
}

.graphBox{
    /*
    position: absolute;
    width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    min-height: 500px;
    height: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.graphBox h2{
    font-weight: 700;
    color: var(--main-color);
    text-align: center;
}

.graphBox .box{
    position: relative;
    background: var(--sixth-color);
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
.description-container{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 50%;
    

}
.description-box{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 3px;

}
.description-text{
    max-width: 100%;
    min-height: 100%;
    font-size: 1.2em;
    word-wrap: break-word;
    color: var(--second-color);
}
@media (max-width: 1116px) {
    .navigation{
        width: 275px;
    }
}



@media (max-width: 991px) {
    .navigation{
        left: -300px;
    }
    .navigation.active{
        left: 0;
        width: 300px;
    }
    .main{
        left: 0;
        width: 100%;
    }
    .main.active{
        left: 300px;
    }
    .cardBox{
        grid-template-columns: repeat(2, 1fr);
    }

    
}

@media (max-width:768px){
    .details{
        grid-template-columns: repeat(1, 1fr);
    }
    .recentExpense{
        overflow-x: auto;
    }
}

@media (max-width:480px){
    .cardBox{
        grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2{
        font-size: 20px;
    }
    .user{
        min-width: 40px;
    }
    .navigation{
        width: 100%;
        left: -100%;
        z-index: 1000;
    }
    .navigation.active{
        left: 0;
        width: 100%;
    }
    .toggle{
        z-index: 1001;
    }
    .main.active{
        left: 0;
        width: 100%;
    }
    .main.active .toggle{
        color: var(--sixth-color);
        position: fixed;
        right: 0;
        left: initial;
    }
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  

  .slider {
    --slide-width: clamp(320px, 75vw, 800px);
    --slide-height: clamp(240px, 50vh, 600px);
    display: grid;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    max-width: var(--slide-width);
    border: 5px solid #fff;
    box-shadow: 0 2px 10px #d1601481, 0 2px 15px #d1601481;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 20px;
  }
  .slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top:1%;
    margin-bottom: 3%;
    width: var(--slide-width);
    height: var(--slide-height);
    
  }
  .slider::-webkit-scrollbar {
    display: none;
  }
  .slide {
    scroll-snap-align: start;
    width: var(--slide-width);
    height: var(--slide-height);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
  }

  .boxing{
    width: var(--slide-width);
    height: var(--slide-height);
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(233, 233, 233);
    text-align: justify;
   
  }

  .dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 15px;
    z-index: 1;
    padding: 0.5%;
    background-color: rgba(151, 150, 150, 0.349);
    border-radius: 20px;
    opacity: 5;
  }
  .dots a {
    opacity: 1;
    transition: opacity ease 250ms;
    cursor: pointer;
  }
  .dots a:hover {
    opacity: 0.25;
  }
 
.titles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2%;
    font-size: 3em;
    color: var(--main-color);
    font-family: 'Patua One', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
}
.categorytext{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2%;
    font-size: 1.5em;
    color: var(--fourth-color);
    font-family: 'Patua One', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
}


.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 5em;
    color: var(--main-color);

}
.icon-dots{
    font-size: 2em;
    color: #011627;
}




.ul-dots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 3%;


  }
  
  .ul-dots, .li-dots {
    list-style: none;
    margin: 0 15px;
    
  }
  
  .ul-dots li,
  .a-dots {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: rgba(151, 150, 150, 0.349);
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
  .ul-dots li .a-dots::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(151, 150, 150, 0.349);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  .ul-dots li .a-dots:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--main-color);
  }
  
  .ul-dots li .a-dots:hover {
    color: var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
    text-shadow: 0 0 5px var(--main-color);
  }
  
  @media (min-width: 768px) {
    .titles{
        font-size: 3em;
    }
    .categorytext{
        font-size: 1.5em;
    }
}
    



  
