/* Resetting default margin and padding */
body, nav {
    margin: 0;
    padding: 0;
}

/* Centering the logo */
nav{
    background-color: #BFBABA;
}

.logo {
    text-align: center;
    padding: 20px 0; /* Adjust the padding as needed */
}

.logo img {
    height: 15vh; /* Maintain aspect ratio */
}

.home{
    height: 80vh;
    background-color: #d4d3d3;
    margin: 0;
}



.text1{
    font-family: 'Patua One';
    background-color: #ffff;
    font-size: 3rem;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 0;
    margin-top: 10vh;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block h1{
    color: #35A52B;
    font-size: 4rem;
    text-align: center;
    margin: 0 2vw;
}
.home {
    display: flex;
  }
  .block{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }


.block h2{
    color: #0B132B;
    font-family: 'Patua One';
    font-weight: 400;
}

.btnRegister{
    font-family: 'Patua One';
    border-color: #35A52B;
    border: 2px solid #35A52B;
    border-radius: 30px; 
    color: #0B132B;
    font-size: large;
    text-align: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    transition-duration: 0.5s;
}

.btnLogin{
    font-family: 'Patua One';
    border: none;
    background-color: #35A52B;
    border-radius: 30px;
    color: #ffff;
    font-size: large;
    text-align: center;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    transition-duration: 0.5s;
    border: 2px solid #35A52B;
} 

.btnRegister:hover, .btnLogin:hover{
    background-color: #2667FF;
    color: #fff;
    border: 2px solid #2667FF; 
} 

.container{
    display: flex;
    
}

#info{
    width: 50vw;
}
.text1, .container{
    margin-left: 5vw;
    margin-right: 5vw;
    
}
#getStart .block{
    
    
    width: 20vw;
    text-align: start;

}
#getStart {
    text-align: start;
    
}
h2{
    margin-right: 2vw;
}
#grafico{
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    align-items: center;
    padding: 0;
}
#grafico img{
    min-width: 200px;
    width: 30vw;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    margin-top: 10vh;
}

#getStart{
    display: flex;
    justify-content: center;
}
#home img{
    height: 10vh;
    margin-left: 2vw;
}
#icon{
    margin-right: 2vw;
}
#home{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.home2{
    height: 85vh;
    background-color: #d4d3d3;
    margin: 0;
}
#home2{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.navbar, .stats{flex: 1;}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 15vw;
    background-color: #D2CFCF;
    height: 85vh;
}
li{
    margin: 0;
    padding: 0;
    margin-top: 3vh;
    color: #2667FF;
}
ul{
    margin: 0;
    padding: 0;list-style: none;
}
.top{
    margin-top: 20px;
}
.logout{
    margin-bottom: 20px;
    margin-top: 20px;
}

.top a{
    color: #2667FF;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Patua One';
    font-weight: 600;

}
.logout a{
    color: #0B132B;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Patua One';
    font-weight: 600;
}
@media screen and (max-width: 1200px){
    .text1{
        font-size: 2rem;
        height: 30vh;
    }
    .block h1{
        font-size: 3rem;
    }
    .block h2{
        font-size: 1.5rem;
    }
    .btnRegister, .btnLogin{
        font-size: medium;
    }
    .container{
        flex-direction: column;
    }
    #info{
        width: 100%;
    }
    #grafico{
        width: 100%;
    }
    .block{
        width: 100%;
    }
    #getStart{
        text-align: center;
    }
    #getStart .block{
        text-align: center;
    }
}
@media screen and (max-width: 900px){
    .text1{
        font-size: 1.5rem;
        height: 20vh;
    }
    .block h1{
        font-size: 2rem;
    }
    .block h2{
        font-size: 1rem;
    }
    .btnRegister, .btnLogin{
        font-size: small;
    }
    .container{
        flex-direction: column;
    }
    #info{
        width: 100%;
    }
    #grafico{
        width: 100%;
    }
    .block{
        width: 100%;
    }
    #getStart{
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    #grafico{
        display: none;
    }
    
}