<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleAdd.css') }}">

    <link rel="icon" 
      type="image/png" 
      href="{{ url_for('static', filename='logo2.png') }}"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
</head>
<body onload="loadCategories()">
    <div class="container">
        
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon"><img src="{{ url_for('static', filename='logo2.png') }}" alt=""></span>
                        <span class="title">ExpenseBuddy</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="add-outline"></ion-icon></span>
                        <span class="title">Aggiungi Spesa</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('show') }}" id="liGrafico">
                        <span class="icon"><ion-icon name="analytics-outline"></ion-icon></span>
                        <span class="title">Grafico</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="albums-outline"></ion-icon></span>
                        <span class="title">Categorie</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="download-outline"></ion-icon></span>
                        <span class="title">Esporta Tabella</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                
                <div class="user">
                    <ion-icon name="person"></ion-icon>
                </div>
            </div>
        
            <div class="content">
                <h2>Aggiungi Spesa</h2>
                <form id="addForm">
                    <div class="form-group">
                        <label for="costo">Costo:</label>
                        <input type="number" id="costo" name="costo"  min=0.1 step="0.01" data-type="currency" required>
                    </div>
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" required>
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoria:</label>
                        <!--<input type="text" id="categoria" name="categoria" required>
                            select -->
                        <select id="categoria" name="categoria" required>
                            <option value="" disabled selected>Seleziona una categoria</option>
                        </select>
                        
                    </div>
                    <div class="form-group">
                        <label for="data">Data:</label>
                        <input type="date" id="data" name="data" required>
                    </div>
                    <button type="submit">Aggiungi</button>
                </form>
            </div>
        </div>
    </div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{{ url_for('static', filename='navigation.js') }}"></script>
<script src="{{ url_for('static', filename='add.js') }}"></script>
</body>
</html>