<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleCategories.css') }}">
    <link rel="icon" 
      type="image/png" 
      href="{{ url_for('static', filename='logo2.png') }}"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
      
</head>
<body onload="loadCards()", onload="loaCatefories">
    <div class="container">
        
        <div class="navigation">
            <ul>
                <li>
                    <a href="" style="pointer-events: none;">
                        <span class="icon"><img src="{{ url_for('static', filename='logo2.png') }}" alt=""></span>
                        <span class="title">ExpenseBuddy</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('home') }}">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('add') }}" >
                        <span class="icon"><ion-icon name="add-outline"></ion-icon></span>
                        <span class="title">Aggiungi Spesa</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('scan') }}">
                        <span class="icon"><ion-icon name="scan-outline"></ion-icon></span>
                        <span class="title">Scansiona</span>
                    </a>
                <li>
                <li>
                    <a href="{{ url_for('show') }}" id="liGrafico">
                        <span class="icon"><ion-icon name="analytics-outline"></ion-icon></span>
                        <span class="title">Grafico</span>
                    </a>
                </li>
                <li>
                    <a href="" style="pointer-events: none;">
                        <span class="icon"><ion-icon name="albums-outline"></ion-icon></span>
                        <span class="title">Categorie</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('export') }}">
                        <span class="icon"><ion-icon name="download-outline"></ion-icon></span>
                        <span class="title">Esporta Tabella</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="main">
         
         
            
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                
              
            </div>


            <div class="slider-wrapper">
                <div class="slider" id="slider"> </div>   
            </div>

            <ul class="ul-dots">
                <li>
                    <a  class="a-dots"  href="#slide-1">
                        <i ><ion-icon name="pizza-outline"></ion-icon></i>
                    </a>
                </li>
                <li>
                    <a class="a-dots" href="#slide-2">
                        <ion-icon name="car-sport-outline"></ion-icon>
                    </a>
                </li>
                <li>
                    <a class="a-dots" href="#slide-3">
                        <ion-icon name="shirt-outline"></ion-icon>
                    </a>
                
                </li>
                <li>
                    <a class="a-dots" href="#slide-4">
                        <ion-icon name="medkit-outline"></ion-icon>
                    </a> 
                </li>
            </ul>

        

    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>



<script src="{{ url_for('static', filename='navigation.js') }}"></script>
<script src="{{ url_for('static', filename='categories.js') }}"></script>
</body>
</html>