<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExpenseBuddy</title>
    <link rel="icon" 
    type="image/png" 
    href="{{ url_for('static', filename='logo2.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleIndex.css') }}">
</head>
<body>
    <nav class="nav-bar">
        <img src="{{ url_for('static', filename='logo2.png') }}" alt="" />
        
      </nav>
      <header class="hero-section">
        <div class="hero-text-container">
          <h1
          
            >Traccia le tue spese<br />
            con facilità </h1
          >
          <p
            >Monitora spese, esporta dati, controlla la tua <br />
            situazione finanziaria con facilità<br /></p>
          <button>Accedi</button>
        </div>
        <div class="hero-img-container">
          <img src="./static/mockupSfondo.png" alt="" />
          <img src="./static/mockupAdd.png" alt="" />
          <img src="./static/mockupGraphic.png" alt="" />
          <img src="./static/mockupLogin.png" alt="" />
        </div>
      </header>
      <div class="container">
        <section class="why-us">
          <h1>Perchè scegliere ExpenseBuddy?</h1>
          <p>
            ExpenseBuddy è un'applicazione web che ti permette di monitorare le tue spese in modo semplice e veloce. 
            Con ExpenseBuddy puoi tenere traccia delle tue spese, esportare i dati e controllare la tua situazione finanziaria con facilità.
          </p>
        </section>
        <section class="features-section">
          <div class="feature-item">
            <h1>Aggiunta Spese</h1>
            <p>
              Tieni traccia di ogni spesa in <br />modo 
               semplice e veloce. Gestisci il tuo budget 
               senza stress.
              </p>
          </div>
          <div class="feature-item">

            <h1>Esportazione Tabelle</h1>
            <p>
              Scarica i dati delle tue transazioni 
              per una gestione più approfondita. <br />
              Analizza i tuoi movimenti finanziari <br />
              con precisione.
            </p>
          </div>
  
          <div class="feature-item">
          
            <h1>Visualizzazione Grafici</h1>
            <p>
              Monitora le tue spese con grafici 
              chiari e intuitivi. Controlla la tua <br />
              situazione finanziaria in modo <br />
              semplice e veloce.
            </p>
          </div>
          <div class="feature-item">
            <h1>Autenticazione con Login e Registrazione</h1>
            <p>
              Accedi al tuo account in modo <br />
              sicuro e veloce. Registra un nuovo <br />
              account in pochi semplici passaggi.
            </p>
          </div>
        </section>
      </div>
      <footer class="footer">
        <div class="footer-container">
          <div class="social-container">
            <img src="/static/icon-facebook.svg" alt="Facebook" />
            <img src="/static/icon-instagram.svg" alt="Instagram" />
            <img src="/static/icon-twitter.svg" alt="Twitter" />
          </div>
          <div class="menu">
            <h3>Links Utili</h3>
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
            <a href="#">Blog</a>
          </div>
          <div class="menu">
            <h3>Informazioni</h3>
            <a href="#">Carriere</a>
            <a href="#">Supporto</a>
            <a href="#">Privacy Policy</a>
          </div>
        </div>
      </footer>
      
</body>
</html>