<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scansiona</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styleHome.css') }}">
    <link rel="icon" 
      type="image/png" 
      href="{{ url_for('static', filename='logo2.png') }}"/>
</head>
<body>
    <div class="container">
        
        <div class="navigation">
            <ul>
                <li>
                    <a href="#" style="pointer-events: none;">
                        <span class="icon"><img src="{{ url_for('static', filename='logo2.png') }}" alt=""></span>
                        <span class="title">ExpenseBuddy</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('home') }}">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('add') }}">
                        <span class="icon"><ion-icon name="add-outline"></ion-icon></span>
                        <span class="title">Aggiungi Spesa</span>
                    </a>
                </li>
                <li>
                    <a href="" style="pointer-events: none;">
                        <span class="icon"><ion-icon name="scan-outline"></ion-icon></span>
                        <span class="title">Scansiona</span>
                    </a>
                <li>
                <li>
                    <a href="{{ url_for('show') }}" id="liGrafico">
                        <span class="icon"><ion-icon name="analytics-outline"></ion-icon></span>
                        <span class="title">Grafico</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('categories') }}">
                        <span class="icon"><ion-icon name="albums-outline"></ion-icon></span>
                        <span class="title">Categorie</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('export') }}">
                        <span class="icon"><ion-icon name="download-outline"></ion-icon></span>
                        <span class="title">Esporta Tabella</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                
                <div class="user" style="opacity: 0;pointer-events: none;">
                    <ion-icon name="person"></ion-icon>
                </div>
            </div>
            <div class="carica">
                <h1>Scansiona lo scontrino</h1>
                <div class="scan">
                    <form id="form" style="display: flex; flex-direction: column;">
                    <input type="file" accept="image/*" capture="camera" id="file-input" name="file" >
                    <label for="file-input" id="file-label">Scegli un file</label>
                    <button id="scan-button" type="submit" style="margin: 10px;">Scan</button></form>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="{{ url_for('static', filename='add.js') }}"></script>
    <script src="{{ url_for('static', filename='navigation.js') }}"></script>
</body>
</html>